*.aux
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.xml
*.qpf
*.qsf
*.qws
*.bak
*.mti
*.mpf
*.rdb
*.db_info
*.hier_info
*.hif
*.ipinfo
*.qmsg
*.hdb
*.ddb
*.flock
*.cdb
*.sci
*.rpt
*.summary
*.dat
*.dbs
*.prw
*.psm
Lab 1/Report/Lab1.log
Lab2/db/*
Lab2/test/db/*
Lab2/TB2/db*
